# Git
.git/
.gitignore
.gitattributes

# Docker
Dockerfile
.dockerignore

# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and editor directories
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Instance folder
instance/
